#nav_buttons
{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

#nav_buttons a
{
    background-color: #136;
    border-radius: 5px;
    padding: 10px;
}

#nav_buttons a:hover
{
    background-color: #247;
    color: #FFF;
}

.box
{
    background-color: #444;
    border-radius: 5px;
    padding: 10px;
}

.box.blue
{
    color: #08F;
}

a.button
{
    background: #394;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    padding: 5px;
}

a.button:hover
{
    background-color: #3A5;
    color: #FFF;
}

button
{
    background-color: #394;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

button:hover
{
    background-color: #3A5;
}

.box input[type=text],
.box input[type=tel],
.box input[type=email]
{
    background-color: #222;
    border: 1px solid #777;
    color: #CCC;
    padding: 10px;
    width: 100%;
}

.box label
{
    display: inline-block;
    font-weight: bold;
    padding: 5px 0;
}

.box textarea
{
    background-color: #222;
    border: 1px solid #777;
    color: #CCC;
    padding: 10px;
    width: 100%;
}

.box.notification
{
    background-color: #394;
    color: #FFF;
}

.box.notification.failure
{
    background-color: #934;
    color: #FFF;
}

.box.notification.pending
{
    background-color: #F93;
    color: #FFF;
}

.white
{
    background-color: #FFF;
    color: #333;
}

/*
 * Classes genéricas
 */
.flex
{
    display: flex;
    gap: 5px;
}

.flex.align-center
{
    align-items: center;
}

.flex.center
{
    justify-content: center;
}

.flex.column
{
    flex-direction: column;
}

.flex.gap-10
{
    gap: 10px;
}

.flex.gap-20
{
    gap: 20px;
}

.flex.gap-50
{
    gap: 50px;
}

.flex.space-between
{
    justify-content: space-between;
}

.flex.wrap
{
    flex-wrap: wrap;
}

.header
{
    font-size: 18px;
    padding: 20px 10px;
}

.height-100p
{
    height: 100%;
}

.line_through
{
    font-size: 14px;
    text-decoration: line-through;
}

.text
{
    font-size: 14px;
}

/**
  * Steam colors
  **/

  .category.tournament
{
    color: #ffd700;
}

.category.strange
{
    color: #cf6a32;
}

.category.unusual
{
    color: #8650ac;
}

.category.unusual_strange
{
    color: #8650ac;
}

.rarity.common,
.rarity.common_weapon
{
    color: #b0c3d9;
}

.rarity.uncommon_weapon
{
    color: #5e98d9;
}

.rarity.rare,
.rarity.rare_character,
.rarity.rare_weapon
{
    color: #4b69ff;
}

.rarity.mythical,
.rarity.mythical_character,
.rarity.mythical_weapon
{
    color: #8847ff;
}

.rarity.legendary,
.rarity.legendary_character,
.rarity.legendary_weapon
{
    color: #d32ce6;
}

.rarity.ancient,
.rarity.ancient_character,
.rarity.ancient_weapon
{
    color: #eb4b4b;
}

.rarity.contraband
{
    color: #e4ae39;
}

/**
  * listings
  **/

nav.listings
{
    background-color: #247;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

nav.listings a
{
    display: block;
    padding: 10px;
}

nav.listings a:hover
{
    background-color: #CCC;
    color: #000;
}

nav.listings .menu > a,
nav.listings button
{
    background-color: #247;
    border-radius: 0;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 10px;
}

nav.listings .menu > a:hover,
nav.listings button:hover
{
    background-color: #204070;
    color: #FFF;
}

nav.listings .menu
{
    position: static;
}

nav.listings .menu:focus-within button
{
    background-color: #136;
}

nav.listings .menu:focus-within .submenu
{
    display: flex;
    flex-direction: column;
}

nav.listings .submenu
{
    background-color: #136;
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 2;
}

#nav_order
{
    display: flex;
    gap: 10px;
    justify-content: end;
}

#nav_order a
{
    color: #FFF;
    padding: 10px 0;
    text-decoration: none;
}

/**
  * home item
  **/

.product
{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.product .image
{
    background-color: #444;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.product .image img
{
    width: 512px;
}

.product .description
{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product .title
{
    font-size: 22px;
}

.product .attribute
{
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
}

.product .price
{
    font-size: 28px;
    font-weight: bold;
}

.product .old_price
{
    color: #CCC;
    font-size: 18px;
    text-decoration: line-through;
}

.product .offer
{
    background-color: #F33;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
}

/**
  * cart
  **/


.cart img
{
    height: 100px;
}

.cart .delete img
{
    height: 24px;
    width: 24px;
}

.cart .price
{
    text-align: right;
    width: 120px;
}

.cart .en
{
    color: #999;
    font-size: 14px;
}

.cart #coupon
{
    text-transform: uppercase;
}

label.icon
{
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
}

label.icon img
{
    height: 48px;
}

/**
  * partners
  **/

.partners
{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}

.partners div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners .icon
{
    align-self: end;
}

.partners .icon img
{
    height: 22px;
}

.partners img.avatar
{
    border-radius: 50%;
    height: 128px;
}

.pay img
{
    width: 200px;
}

.pay .total
{
    font-size: 22px;
}

.order-history header
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.order-history header .column:last-child
{
    text-align: right;
}

.order-history .label
{
    color: #F93;
    font-weight: bold;
}

.order-history summary
{
    color: #222;
    font-weight: bold;
    padding: 5px 0;
}

.order-history section
{
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    font-size: 14px;
    padding: 5px 0;
}