#nav_buttons
{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

#nav_buttons a
{
    background-color: #136;
    border-radius: 5px;
    padding: 10px;
}

#nav_buttons a:hover
{
    background-color: #247;
    color: #FFF;
}

.box
{
    background-color: #444;
    border-radius: 5px;
    padding: 10px;
}

.box.blue
{
    color: #08F;
}

a.button
{
    background: #394;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    padding: 5px;
}

a.button:hover
{
    background-color: #3A5;
    color: #FFF;
}

button
{
    background-color: #394;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

button:hover
{
    background-color: #3A5;
}

.box input[type=text],
.box input[type=tel],
.box input[type=email]
{
    background-color: #222;
    border: 1px solid #777;
    color: #CCC;
    padding: 10px;
    width: 100%;
}

.box label
{
    display: inline-block;
    font-weight: bold;
    padding: 5px 0;
}

.box textarea
{
    background-color: #222;
    border: 1px solid #777;
    color: #CCC;
    padding: 10px;
    width: 100%;
}

.box select
{
    padding: 10px;
}

.box.notification
{
    background-color: #394;
    color: #FFF;
}

.box.notification.failure
{
    background-color: #934;
    color: #FFF;
}

.box.notification.pending
{
    background-color: #F93;
    color: #FFF;
}

.white
{
    background-color: #FFF;
    color: #333;
}

/*
 * Classes genéricas
 */
.flex
{
    display: flex;
    gap: 5px;
}

.flex.align-center
{
    align-items: center;
}

.flex.center
{
    justify-content: center;
}

.flex.column
{
    flex-direction: column;
}

.flex.gap-10
{
    gap: 10px;
}

.flex.gap-20
{
    gap: 20px;
}

.flex.gap-50
{
    gap: 50px;
}

.flex.space-between
{
    justify-content: space-between;
}

.flex.space-around
{
    justify-content: space-around;
}

.flex.wrap
{
    flex-wrap: wrap;
}

.header
{
    font-size: 18px;
    padding: 20px 10px;
}

.height-100p
{
    height: 100%;
}

.line_through
{
    font-size: 14px;
    text-decoration: line-through;
}

.text
{
    font-size: 14px;
}

.alert.info
{
    color: #0BF;
    padding: 5px 0;
}

.alert.warning
{
    color: #FB0;
    padding: 5px 0;
}

/**
  * Steam colors
  **/

  .category.tournament
{
    color: #ffd700;
}

.category.strange
{
    color: #cf6a32;
}

.category.unusual
{
    color: #8650ac;
}

.category.unusual_strange
{
    color: #8650ac;
}

.rarity.common,
.rarity.common_weapon
{
    color: #b0c3d9;
}

.rarity.uncommon_weapon
{
    color: #5e98d9;
}

.rarity.rare,
.rarity.rare_character,
.rarity.rare_weapon
{
    color: #4b69ff;
}

.rarity.mythical,
.rarity.mythical_character,
.rarity.mythical_weapon
{
    color: #8847ff;
}

.rarity.legendary,
.rarity.legendary_character,
.rarity.legendary_weapon
{
    color: #d32ce6;
}

.rarity.ancient,
.rarity.ancient_character,
.rarity.ancient_weapon
{
    color: #eb4b4b;
}

.rarity.contraband
{
    color: #e4ae39;
}

._bottom .rarity.rare_weapon
{
    background: linear-gradient(to bottom, #222, #4b69ff88);
}

._bottom .rarity.mythical_weapon
{
    background: linear-gradient(to bottom, #222, #8847ff88);
}

._bottom .rarity.legendary_weapon
{
    background: linear-gradient(to bottom, #222, #d32ce688);
}

._bottom .rarity.ancient_weapon
{
    background: linear-gradient(to bottom, #222, #eb4b4b88);
}

._right .rarity.rare_weapon
{
    background: linear-gradient(to right, #222, #4b69ff88);
 }

._right .rarity.mythical_weapon
{
    background: linear-gradient(to right, #222, #8847ff88);
}

._right .rarity.legendary_weapon
{
    background: linear-gradient(to right, #222, #d32ce688);
}

._right .rarity.ancient_weapon
{
    background: linear-gradient(to right, #222, #eb4b4b88);
}

/**
  * listings
  **/

nav.listings
{
    background-color: #247;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

nav.listings a
{
    display: block;
    padding: 10px;
}

nav.listings a:hover
{
    background-color: #CCC;
    color: #000;
}

nav.listings .menu > a,
nav.listings button
{
    background-color: #247;
    border-radius: 0;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 10px;
}

nav.listings .menu > a:hover,
nav.listings button:hover
{
    background-color: #204070;
    color: #FFF;
}

nav.listings .menu
{
    position: static;
}

nav.listings .menu:focus-within button
{
    background-color: #136;
}

nav.listings .menu:focus-within .submenu
{
    display: flex;
    flex-direction: column;
}

nav.listings .submenu
{
    background-color: #136;
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 2;
}

#nav_order
{
    display: flex;
    gap: 10px;
    justify-content: end;
}

#nav_order a
{
    color: #FFF;
    padding: 10px 0;
    text-decoration: none;
}

/**
  * Products
  */

.banner img
{
    width: 100%;
}

#container .coming,
#container .items
{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#container .coming
{
    margin-bottom: 10px;
}

.products .item
{
    background-image: linear-gradient(to right, #444, #555);
    border-radius: 5px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;    
    text-align: center;
}

.products .item .title
{
    font-size: 18px;
}

.products .item .title a
{
    color: #FFF;
}

.products .item .title .family
{
    display: block;
}

.products .item .image
{
    position: relative;
}

.products .item .offer
{
    background-color: #F33;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    right: 0;
}

.products .item .image a
{
    display: flex;
}

.products .item img
{
    width: 100%;
}

.products .item .attribute-1,
.products .item .attribute-2,
.products .item .availability
{
    border-radius: 5px;
    padding: 5px;
}

.products .item .attribute-1
{
    background-color: #333;
}

.products .item .attribute-2
{
    background-color: #333;
}

.market a
{
    background-color: #136;
    border-radius: 5px;
    color: #F90;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}

.market a:hover
{
    background-color: #247;
}

.products .item .market a
{
    display: block;
}

.availability
{
    background-color: #333;
    color: rgba(255, 255, 255, 0.8);
}

.availability.soon
{
    background-color: #F93;
    color: rgba(0, 0, 0, 0.8);
}

.button_buy
{
    background-color: #294;
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.button_buy:hover
{
    background-color: #3A5;
    color: #FFF;
}

.products .item .button_buy
{
    display: block;
}

.products .item .buy
{
    align-items: end;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
}

.products .item .price
{
    font-size: 22px;
    font-weight: bold;
}

.products .item .old_price
{
    color: #CCC;
    text-decoration: line-through;
}

#expanded
{
    background-color: #444;
    background-image: url('close.png');
    background-position: right top;
    background-repeat: no-repeat;
    height: 100%;    
    position: fixed;
    top: 0;
    width: 1200px;
    z-index: 1;
}

#expanded .image
{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#expanded img
{
    width: 100%;
}

/**
  * home item
  **/

.breadcrumb
{
    display: flex;
}

.breadcrumb div
{
    display: flex;
}

.breadcrumb a
{
    padding: 5px;
}

.breadcrumb div:not(:last-child)::after
{
    display: inline-block;
    content: ">";
    padding: 5px;
}

.product
{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.product .image
{
    background-color: #444;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.product .image img
{
    width: 512px;
}

.product .description
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product .title
{
    font-size: 22px;
}

.product .attribute
{
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
}

.product .price
{
    font-size: 28px;
    font-weight: bold;
}

.product .old_price
{
    color: #CCC;
    font-size: 18px;
    text-decoration: line-through;
}

.product .offer
{
    background-color: #F33;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
}

.pattern .range
{
    /*
    background: linear-gradient(to right, #08F 7%, #0F8 7%, #0F8 15%, #FF5 15%, #FF5 38%, #F80 38%, #F80 45%, #F55 45%);
    */
    cursor: pointer;
    display: flex;
    height: 10px;
    width: 100%;
}

/*
.range *:active:after
{
    content:attr(title);
}
*/

.pattern .fn
{
    background-color: #08F;
    width: 7%;
}

.pattern .mw
{
    background-color: #0F8;
    width: 8%;
}

.pattern .ft
{
    background-color: #FF5;
    width: 23%;
}

.pattern .ww
{
    background-color: #F80;
    width: 7%;
}

.pattern .bs
{
    background-color: #F55;
    width: 55%;
}

.position
{
    height: 16px;
    position: relative;
}

.pattern .indicator
{
    background-image: url('indicator.png');
    background-size: 16px 16px;
    height: 16px;
    position: absolute;
    width: 16px;
}

/**
  * cart
  **/


.cart img
{
    height: 100px;
}

.cart .delete img
{
    height: 24px;
    width: 24px;
}

.cart .price
{
    text-align: right;
    width: 120px;
}

.cart .en
{
    color: #999;
    font-size: 14px;
}

.cart #coupon
{
    text-transform: uppercase;
}

label.icon
{
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
}

label.icon img
{
    height: 48px;
}

/**
  * inventory
  */

.inventory
{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(6, 1fr);
}

.inventory .item
{
    background-color: #333;
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    text-align: center;
}

.inventory .image,
.inventory .image a
{
    display: flex;
}

.inventory .rarity
{
    border-top-style: solid;
    border-top-width: 5px;
}

.inventory .image a
{
    border-top-color: #FFF;
    border-top-style: solid;
    border-top-width: 5px;
}

.inventory img
{
    padding: 0 5px;
    width: 100%;
}

.inventory .item .title .family
{
    display: block;
}

.inventory .item .coins
{
    color: #ffae00;
}

.inventory .button a
{
    background-color: #222;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
}

dialog.confirm .container
{
    text-align: center;
}

dialog.confirm .container div
{
    padding: 20px;
}

.recipient img
{
    width: 256px;
}

.recipient .rarity
{
    font-size: 14px;
    margin: 5px 0;
}

.recipient .weapons
{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(12, 1fr);
}

.recipient .weapons div
{
    display: flex;
    padding: 5px;
}

.recipient .weapons img
{
    width: 100%;
}

.recipient .weapons div:hover
{
    background-color: #333;
}

.recipient .rarity
{
    border-left-style: solid;
    border-left-width: 2px;
    border-radius: 10px;
}

#carousel
{
    position: relative;
    margin: auto;
    width: 1200px;
}

#carousel .layer
{    
    background: linear-gradient(to right, #222 0%, #22222200 10%), linear-gradient(to left, #222 0%, #22222200 10%);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#carousel .indicator
{
    background: url('indicator.png') no-repeat center/64px;
    height: 84px;
}

#carousel .glide img
{
    width: 192px;
}

#carousel .rarity
{
    display: flex;
    justify-content: center;
}

.glide .rarity
{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-radius: 10px;
}

.prize
{
    text-align: center;
}

.prize .description
{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.prize .rarity
{
    border-top-style: solid;
    border-top-width: 10px;
}

.prize img
{
    width: 384px;
}

.prize a
{
    background-color: #333;
    margin: 10px;
    padding: 10px;
}

/**
  * partners
  **/

.partners
{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}

.partners div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners .icon
{
    align-self: end;
}

.partners .icon img
{
    height: 22px;
}

.partners img.avatar
{
    border-radius: 50%;
    height: 128px;
}

.pay img
{
    width: 200px;
}

.pay .total
{
    font-size: 22px;
}

.order-history header
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.order-history header .column:last-child
{
    text-align: right;
}

.order-history .label
{
    color: #F93;
    font-weight: bold;
}

.order-history summary
{
    color: #222;
    font-weight: bold;
    padding: 5px 0;
}

.order-history section
{
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
    font-size: 14px;
    padding: 5px 0;
}

/**
  * weaponcases
  */

.weaponcases .product .image img
{
    width: 448px;
}

.weaponcases .product .rarity
{
    font-size: 14px;
    margin: 5px 0;
}

.weaponcases .weapons
{
    padding: 10px 0;
}

.weaponcases .weapons div
{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}

.weaponcases .weapons a
{
    display: flex;
    padding: 5px;
}

.weaponcases .weapons img
{
    width: 144px;
}

.weaponcases .weapons a:hover
{
    background-color: #333;
    border-radius: 5px;
}