.banner img
{
    width: 100%;
}

#carousel
{
    margin-bottom: 10px;
    position: relative;
}

#carousel .side
{
    align-items: center;
    display: flex;
    height: 100%;
    width: 48px;
    position: absolute;
    top: 0;
}

#carousel .side button
{
    border-radius: 50%;
    display: block;
    height: 48px;
    width: 48px;
}

#carousel .side button:hover
{
    box-shadow: 0 0 5px #FFF;
}

#carousel .side.left
{
    left: -24px;
}

#carousel .side.left button
{
    background: #F93 url('icon_arrow_left_white.png') center/auto 32px no-repeat;
}

#carousel .side.right
{
    right: -24px;
}

#carousel .side.right button
{
    background: #F93 url('icon_arrow_right_white.png') center/auto 32px no-repeat;
}

#carousel .container
{
    display: flex;
    gap: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 1200px;
}

#carousel .item
{
    flex-shrink: 0;
    width: 292.5px;
}

#container
{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item
{
    background-image: linear-gradient(to right, #444, #555);
    border-radius: 5px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;    
    text-align: center;
}

.item .title
{
    font-size: 18px;
}

.item .title a
{
    color: #FFF;
}

.item .title .family
{
    display: block;
}

.item .image
{
    position: relative;
}

.item .offer
{
    background-color: #F33;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    right: 0;
}

.item .image a
{
    display: flex;
}

.item img
{
    width: 100%;
}

.item .attribute-1,
.item .attribute-2,
.item .availability
{
    border-radius: 5px;
    padding: 5px;
}

.item .attribute-1
{
    background-color: #333;
}

.item .attribute-2
{
    background-color: #333;
}

.market a
{
    background-color: #136;
    border-radius: 5px;
    color: #F90;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}

.market a:hover
{
    background-color: #247;
}

.item .market a
{
    display: block;
}

.availability
{
    background-color: #333;
    color: rgba(255, 255, 255, 0.8);
}

.availability.soon
{
    background-color: #F93;
    color: rgba(0, 0, 0, 0.8);
}

.button_buy
{
    background-color: #294;
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.button_buy:hover
{
    background-color: #3A5;
    color: #FFF;
}

.item .button_buy
{
    display: block;
}

.item .buy
{
    align-items: end;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
}

.item .price
{
    font-size: 22px;
    font-weight: bold;
}

.item .old_price
{
    color: #CCC;
    text-decoration: line-through;
}

#expanded
{
    background-color: #444;
    background-image: url('close.png');
    background-position: right top;
    background-repeat: no-repeat;
    height: 100%;    
    position: fixed;
    top: 0;
    width: 1200px;
    z-index: 1;
}

#expanded .image
{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#expanded img
{
    width: 100%;
}