#expanded
{
    background-color: #444;
    background-image: url('close.png');
    background-position: right top;
    background-repeat: no-repeat;
    height: 100%;    
    position: fixed;
    top: 0;
    width: 1200px;
    z-index: 1;
}

#expanded .image
{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#expanded img
{
    width: 100%;
}

.banner img
{
    width: 100%;
}

#carousel
{
    margin-bottom: 10px;
    position: relative;
}

#carousel .side
{
    align-items: center;
    display: flex;
    height: 100%;
    width: 48px;
    position: absolute;
    top: 0;
}

#carousel .side button
{
    border-radius: 50%;
    display: block;
    height: 48px;
    width: 48px;
}

#carousel .side button:hover
{
    box-shadow: 0 0 5px #FFF;
}

#carousel .side.left
{
    left: -24px;
}

#carousel .side.left button
{
    background: #F93 url('icon_arrow_left_white.png') center/auto 32px no-repeat;
}

#carousel .side.right
{
    right: -24px;
}

#carousel .side.right button
{
    background: #F93 url('icon_arrow_right_white.png') center/auto 32px no-repeat;
}

#carousel .container
{
    display: flex;
    gap: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 1200px;
}

#carousel .item
{
    flex-shrink: 0;
    width: 292.5px;
}

#container
{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item
{
    background-image: linear-gradient(to right, #444, #555);
    border-radius: 5px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;    
    text-align: center;
}

.item .title
{
    font-size: 18px;
}

.item .title .stattrak
{
    color: #F90;
}

.item .image a
{
    display: flex;
}

.item .image a:hover img
{
    --opacity: 0.7;
}

.item img
{
    width: 100%;
}

.item .attribute-1,
.item .attribute-2,
.item .availability
{
    border-radius: 5px;
    padding: 5px;
}

.item .attribute-1
{
    background-color: #333;
}

.item .attribute-2
{
    background-color: #333;
}

.item .attribute-2.consumer-grade
{
    color: #b0c3d9;
}

.item .attribute-2.industrial-grade
{
    color: #5e98d9;
}

.item .attribute-2.mil-spec
{
    color: #4b69ff;
}

.item .attribute-2.restricted
{
    color: #8847ff;
}

.item .attribute-2.classified
{
    color: #d32ce6;
}

.item .attribute-2.covert
{
    color: #eb4b4b;
}

.item .attribute-2.distinguished
{
    color: #4b69ff;
}

.item .attribute-2.exceptional
{
    color: #8847ff;
}

.item .attribute-2.superior
{
    color: #d32ee6;
}

.item .attribute-2.master
{
    color: #eb4b4b;
}

.item .market a
{
    background-color: #136;
    border-radius: 5px;
    color: #F90;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.item .market a:hover
{
    background-color: #247;
}

.item .availability
{
    background-color: #333;
    color: rgba(255, 255, 255, 0.8);
}

.item .availability.soon
{
    background-color: #F93;
    color: rgba(0, 0, 0, 0.8);
}

.item .button_buy
{
    background-color: #294;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.item .button_buy:hover
{
    background-color: #3A5;
}

.item .buy
{
    align-items: end;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
}

.item .price
{
    font-size: 22px;
    font-weight: bold;
}

.item .old_price
{
    color: #CCC;
    text-decoration: line-through;
}