@media only screen and (max-width: 768px)
{
    body
    {
        width: 100;
        padding: 5px;
    }

    #grid
    {
        grid-template-rows: min-content auto min-content;
        width: auto;
    }

    #main_header
    {
        display: block;
        margin-bottom: 5px;
    }

    #main_header .left img
    {
        width: 100%;
    }

    #loggedin
    {
        flex: 1;
    }

    .right
    {
        flex-flow: row wrap;
    }

    .right nav
    {
        flex: 1;
        flex-direction: row;
    }

    .right nav a
    {
        flex: 1;
        padding: 10px 5px;
    }

    footer .flex_space_between
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    footer .icons img
    {
        background-color: #FFF;
        border-radius: 5px;
        height: 28px;
        padding: 5px 10px;
    }

    #expanded
    {
        left: 0;
        width: 100%;
    }

    #container
    {
        grid-template-columns: 1fr 1fr;
    }

    .cart .price
    {
        width: max-content;
    }
}